.dashboard-wrapper {
  height: 100%;
}

.dashboard-wrapper .columnMain-container {
  max-width: 100%;
  background: #f8fafd;
  height: 100%;
}

.Filter-limit,
.Time-box,
.Time-setting,
.Time-noti {
  border-radius: 15px;
}

.Time-box {
  background-color: #f8fafd;
}

.dots {
  height: 25px !important;
  width: auto !important;
  padding: 10px 0;
  border-radius: 10px;
}

.dots:hover {
  background-color: rgba(147, 147, 147, 0.1);
}

@media all and (max-width: 830px) {
  .dashboard-content {
    display: none;
  }
  .Time-box {
    display: none;
    position: absolute !important;
    z-index: 4;
    top: 0;
  }
  .Time-box .Time-box-arrow img {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 3px;
    margin: auto 0 auto 1.4rem;
  }
  .Time-box .Time-box-arrow h5 {
    margin: auto 0;
  }
  .icon-icon {
    position: relative;
    margin: 0.6rem auto;
  }
  .icon-icon .arrow-dashboard {
    display: block;
    width: 22px;
    cursor: pointer;
    padding: 3px;
    margin-left: 0.6rem;
  }
  .icon-icon .setting-dashboard {
    display: block;
    width: 20px;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 0.6rem;
  }
  .ac-dashboard {
    display: block;
    position: absolute;
    -webkit-filter: brightness(1);
            filter: brightness(1);
    z-index: 1000;
  }
  .noti-title {
    margin: 20px auto !important;
  }
}

@media all and (min-width: 830px) {
  .icon-icon {
    display: none;
  }
  .Time-box-arrow {
    display: none;
  }
}

.dashboard-content {
  max-width: 280px;
  background: #fff;
  -webkit-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: scroll;
}

@media all and (max-height: 350px) {
  .dashboard-content .acc-activities {
    overflow-y: scroll;
    height: 135px;
  }
}

@media all and (min-height: 350px) {
  .dashboard-content .acc-activities {
    overflow-y: scroll;
    height: 180px;
  }
}

@media all and (min-height: 400px) {
  .dashboard-content .acc-activities {
    overflow-y: scroll;
    height: 215px;
  }
}

@media all and (min-height: 433px) {
  .dashboard-content .acc-activities {
    height: 240px;
  }
}

@media all and (min-height: 450px) {
  .dashboard-content .acc-activities {
    height: 268px;
  }
}

@media all and (min-height: 500px) {
  .dashboard-content .acc-activities {
    height: 310px;
  }
}

@media all and (min-height: 522px) {
  .dashboard-content .acc-activities {
    height: 350px;
  }
}

@media all and (min-height: 625px) {
  .dashboard-content .acc-activities {
    height: 460px;
  }
}

@media all and (min-height: 630px) {
  .dashboard-content .acc-activities {
    height: 440px;
  }
}

@media all and (min-height: 654px) {
  .dashboard-content .acc-activities {
    height: 455px;
  }
}

@media all and (min-height: 680px) {
  .dashboard-content .acc-activities {
    height: 480px;
  }
}

@media all and (min-height: 700px) {
  .dashboard-content .acc-activities {
    height: 520px;
  }
}

@media all and (min-height: 760px) {
  .dashboard-content .acc-activities {
    height: auto;
  }
}

.dashboard-content ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.acc-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
}

.acc-info img {
  width: 70px;
  margin-bottom: 5px;
}

.acc-status {
  color: #a6a6a7;
  font-size: 17px;
}

.acc-devices {
  font-size: 20px;
  color: #515862;
  margin-bottom: 3px;
}

.acc-activities li {
  padding: 18px 10px;
  font-weight: bold;
  border-top: 1px solid #faf3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  cursor: pointer;
}

.acc-activities li:last-child {
  border-bottom: 1px solid #faf3f3;
  display: block;
}

.acc-activities li img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.acc-activities li button {
  font-size: 12px;
  padding: 0;
  float: right;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #2aabcb;
}

.acc-activities .active__color {
  background-color: #e5efff;
}

.acc-activities li:not(.active__color):hover {
  background-color: #f4f5f7;
}

.acc-activities ul {
  margin: 0;
}

.acc-activities ul li {
  padding: 15px 0 15px 10px;
}

.acc-activities li.dropdown > img {
  width: 25px;
}

.acc-activities li.dropdown li img {
  width: 25px;
}

.btn-check:focus + .btn {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown {
  padding: 0 !important;
  min-height: 62px;
}

.dropdown .title {
  padding: 10px 10px 0;
  line-height: 31px;
  min-height: 62px;
}

.dropdown .title:active {
  background-color: #e5efff;
}

.dropdown div ul li {
  padding: 10px 0 10px 20px;
  min-height: 58px;
  background-color: white;
}

.dropdown div ul li a {
  text-decoration: none;
  color: black;
}

.dropdown div ul li:active {
  background-color: #f4f5f7;
}

.dropdown .collapse {
  clear: both;
}

.dropdown .btn {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  line-height: 31px;
}

.dropdown .btn--reverse {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

@media all and (max-width: 830px) {
  .content-TimeLimit {
    width: 750px;
    margin: 0 0 0 auto;
  }
  .content-TimeLimit .Time-box {
    padding: 1rem !important;
  }
  .ButtonAc {
    bottom: 0;
    right: 0;
    padding: 50px;
    position: absolute;
    z-index: 2;
  }
  .ButtonAc .config-close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3b9e8a;
    bottom: 30px;
    right: 51px !important;
  }
  .ButtonAc .config-close img {
    width: 20px;
    height: 20px;
    margin: auto;
    color: white;
    padding: 0;
  }
  .ButtonAc .phone,
  .ButtonAc .setting {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: auto 0 auto 15px;
  }
  .ButtonAc .phone .icon,
  .ButtonAc .setting .icon {
    font-size: 30px;
    color: #3b9e8a;
    margin: auto;
    padding: 0;
  }
  .ButtonAc .div-icon {
    right: 50px;
    position: absolute;
    text-align: right;
    text-decoration: none;
  }
  .ButtonAc .div-icon .text {
    margin: auto;
    text-align: center;
    font-weight: bolder;
    background-color: white;
    color: #3b9e8a;
    padding: 8px 14px;
    width: auto;
    border-radius: 3px;
  }
  .ButtonAc .div-phone {
    bottom: 150px;
    width: 185px;
    visibility: hidden;
  }
  .ButtonAc .div-sett {
    bottom: 90px;
    width: 210px;
    visibility: hidden;
  }
  .SetRule {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    padding-bottom: 100vh;
    z-index: 3;
    background-color: white;
  }
  .SetRule .arrow {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .SetRule .arrow img {
    width: 35px;
    height: 11px;
    margin: auto 0 auto 1.2rem;
  }
  .SetRule .arrow h5 {
    margin: 0.6rem 0;
  }
  .SetRule .SetRule-content {
    margin: 1.5rem 0;
  }
  .SetRule .SetRule-content ul {
    padding: 0;
    list-style: none;
    padding-bottom: 100vh;
  }
  .SetRule .SetRule-content ul li {
    padding: 10px 0 10px 33px;
    min-height: 58px;
    font-weight: bold;
  }
  .SetRule .SetRule-content ul li a {
    text-decoration: none;
    color: black;
  }
  .SetRule .SetRule-content ul li a .premium {
    margin: auto;
    background-color: #def8ff;
    text-align: center;
    color: #2aabcb;
    padding: 5px 0;
    border-radius: 5px;
  }
  .SetRule .SetRule-content ul li a div {
    font-size: 16px;
    margin: auto 0;
  }
  .SetRule .SetRule-content ul li a div img {
    width: 25px;
  }
  .SetRule .SetRule-content ul li:active {
    background-color: #f4f5f7;
  }
}

.content-TimeLimit {
  margin: 0 0 0 auto;
}

.content-TimeLimit .Filter-title,
.content-TimeLimit .AddWeb-title {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0 20px 10px;
  z-index: 1;
  width: 45rem;
}

.content-TimeLimit .Filter-title img,
.content-TimeLimit .AddWeb-title img {
  cursor: pointer;
}

.content-TimeLimit .AddWeb-title {
  display: none;
}

.content-TimeLimit .AddWeb-title img {
  height: 12px;
  width: 12px;
  margin-top: -3px;
}

.content-TimeLimit .Board-Status--AddWeb,
.content-TimeLimit .Board-Status--UpdateAddWeb {
  background-color: #ffffff;
  z-index: 1;
}

.content-TimeLimit .Board-Status--AddWeb div,
.content-TimeLimit .Board-Status--UpdateAddWeb div {
  padding: 0 18px;
  cursor: pointer;
}

.content-TimeLimit .Board-Status--AddWeb div .img,
.content-TimeLimit .Board-Status--UpdateAddWeb div .img {
  max-width: 30px;
  padding: 15px 0;
}

.content-TimeLimit .Board-Status--AddWeb div .img img,
.content-TimeLimit .Board-Status--UpdateAddWeb div .img img {
  height: 25px;
  width: 25px;
}

.content-TimeLimit .Board-Status--AddWeb div .text-filter,
.content-TimeLimit .Board-Status--UpdateAddWeb div .text-filter {
  padding: 15px 10px;
  line-height: 1.5;
}

.content-TimeLimit .Board-Status--AddWeb div .cricle,
.content-TimeLimit .Board-Status--UpdateAddWeb div .cricle {
  margin: 0 0 0 auto;
  padding: 0;
}

.content-TimeLimit .Board-Status--AddWeb div .cricle input,
.content-TimeLimit .Board-Status--UpdateAddWeb div .cricle input {
  margin: auto 0 auto auto;
  border-radius: 8px;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  outline: 1px solid transparent;
  padding: 3px;
  background-clip: content-box;
}

.content-TimeLimit .Board-Status--AddWeb div .cricle input:checked,
.content-TimeLimit .Board-Status--UpdateAddWeb div .cricle input:checked {
  border: 1px solid #2aabcb;
  background-color: #2aabcb;
}

.content-TimeLimit .Board-Status--UpdateAddWeb {
  width: 268px;
  height: auto;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  left: 64%;
  position: absolute;
}

.content-TimeLimit .Board-Status--UpdateAddWeb .item:hover {
  background-color: rgba(159, 159, 159, 0.3);
}

.content-TimeLimit .Board-Status--UpdateAddWeb .item:hover .text-filter {
  font-weight: 800;
}

.content-TimeLimit .Filter-limit,
.content-TimeLimit .AddWeb-content {
  background-color: white;
  z-index: 1;
}

.content-TimeLimit .Filter-limit .Tab,
.content-TimeLimit .AddWeb-content .Tab {
  margin: 15px auto;
}

.content-TimeLimit .Filter-limit .Tab .Tab-item,
.content-TimeLimit .AddWeb-content .Tab .Tab-item {
  text-align: center;
  padding: 8px 0;
  margin: auto;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.content-TimeLimit .Filter-limit .Tab .Tab-active,
.content-TimeLimit .AddWeb-content .Tab .Tab-active {
  background-color: #2aabcb;
  color: white;
  font-weight: bold;
}

.content-TimeLimit .Filter-limit .Categories,
.content-TimeLimit .AddWeb-content .Categories {
  margin: 25px 12px 12px 16px;
  position: relative;
}

.content-TimeLimit .Filter-limit .Categories .Apply-filter,
.content-TimeLimit .AddWeb-content .Categories .Apply-filter {
  border-bottom: 1px solid rgba(248, 248, 248, 0.8);
}

.content-TimeLimit .Filter-limit .Categories .description,
.content-TimeLimit .AddWeb-content .Categories .description {
  margin-top: 12px;
}

.content-TimeLimit .Filter-limit .Categories .Item-Filter,
.content-TimeLimit .AddWeb-content .Categories .Item-Filter {
  border-bottom: 1px solid rgba(248, 248, 248, 0.8);
  padding: 15px 0px;
  margin-left: 0;
}

.content-TimeLimit .Filter-limit .Categories .Item-Filter .img,
.content-TimeLimit .AddWeb-content .Categories .Item-Filter .img {
  width: 25px;
  text-align: left;
  margin: auto 0;
  padding: 0;
}

.content-TimeLimit .Filter-limit .Categories .Item-Filter .img img,
.content-TimeLimit .AddWeb-content .Categories .Item-Filter .img img {
  width: 25px;
  height: 25px;
  padding: 0;
}

.content-TimeLimit .Filter-limit .Categories .Item-Filter .text-filter,
.content-TimeLimit .AddWeb-content .Categories .Item-Filter .text-filter {
  margin: auto 0;
}

.content-TimeLimit .Filter-limit .Categories .Item-Filter .Set-status,
.content-TimeLimit .AddWeb-content .Categories .Item-Filter .Set-status {
  margin: 0 0 0 auto;
  text-align: right;
  padding: 0;
}

.content-TimeLimit .Filter-limit .Categories .Item-Filter .Set-status img,
.content-TimeLimit .AddWeb-content .Categories .Item-Filter .Set-status img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status,
.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll,
.content-TimeLimit .AddWeb-content .Categories .Board-Status,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status div,
.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll div,
.content-TimeLimit .AddWeb-content .Categories .Board-Status div,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll div {
  padding: 0 15px;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status div .img,
.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll div .img,
.content-TimeLimit .AddWeb-content .Categories .Board-Status div .img,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll div .img {
  padding: 15px 8px;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status div .img img,
.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll div .img img,
.content-TimeLimit .AddWeb-content .Categories .Board-Status div .img img,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll div .img img {
  width: 25px;
  height: 25px;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status div .text-filter,
.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll div .text-filter,
.content-TimeLimit .AddWeb-content .Categories .Board-Status div .text-filter,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll div .text-filter {
  padding: 15px 10px;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status .item:hover,
.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll .item:hover,
.content-TimeLimit .AddWeb-content .Categories .Board-Status .item:hover,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll .item:hover {
  background-color: rgba(159, 159, 159, 0.3);
}

.content-TimeLimit .Filter-limit .Categories .Board-Status .item:hover .text-filter,
.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll .item:hover .text-filter,
.content-TimeLimit .AddWeb-content .Categories .Board-Status .item:hover .text-filter,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll .item:hover .text-filter {
  font-weight: 800;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status,
.content-TimeLimit .AddWeb-content .Categories .Board-Status {
  width: 268px;
  height: auto;
  display: none;
}

.content-TimeLimit .Filter-limit .Categories .Board-Status--SelectAll,
.content-TimeLimit .AddWeb-content .Categories .Board-Status--SelectAll {
  width: 360px;
  height: auto;
  display: none;
}

.content-TimeLimit .Filter-limit .AddWeb,
.content-TimeLimit .AddWeb-content .AddWeb {
  display: none;
  margin: 25px 12px 12px 16px;
}

.content-TimeLimit .Filter-limit .AddWeb .description,
.content-TimeLimit .AddWeb-content .AddWeb .description {
  margin-top: 12px;
}

.content-TimeLimit .Filter-limit .AddWeb .Item-WebNone,
.content-TimeLimit .AddWeb-content .AddWeb .Item-WebNone {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 140px;
  opacity: 0.6;
}

.content-TimeLimit .Filter-limit .AddWeb .Item-WebNone .Item-Filter,
.content-TimeLimit .AddWeb-content .AddWeb .Item-WebNone .Item-Filter {
  border-bottom: 1px solid rgba(248, 248, 248, 0.8);
  padding: 10px 0px;
  margin-left: 0;
}

.content-TimeLimit .Filter-limit .AddWeb .Item-WebNone .Item-Filter .img,
.content-TimeLimit .AddWeb-content .AddWeb .Item-WebNone .Item-Filter .img {
  width: 25px;
  text-align: left;
  margin: auto 0;
  padding: 0;
}

.content-TimeLimit .Filter-limit .AddWeb .Item-WebNone .Item-Filter .img img,
.content-TimeLimit .AddWeb-content .AddWeb .Item-WebNone .Item-Filter .img img {
  height: 25px;
  width: 25px;
  padding: 0;
}

.content-TimeLimit .Filter-limit .AddWeb .Item-WebNone .Item-Filter .text-filter,
.content-TimeLimit .AddWeb-content .AddWeb .Item-WebNone .Item-Filter .text-filter {
  margin: auto 0;
  text-align: left;
}

.content-TimeLimit .Filter-limit .AddWeb .Item-WebNone .Item-Filter .Set-status,
.content-TimeLimit .AddWeb-content .AddWeb .Item-WebNone .Item-Filter .Set-status {
  margin: auto 0 auto auto;
  text-align: right;
  padding: 0;
}

.content-TimeLimit .Filter-limit .AddWeb .Item-WebNone .Item-Filter .Set-status img,
.content-TimeLimit .AddWeb-content .AddWeb .Item-WebNone .Item-Filter .Set-status img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.content-TimeLimit .Filter-limit .button,
.content-TimeLimit .Filter-limit .bt-AddWeb,
.content-TimeLimit .AddWeb-content .button,
.content-TimeLimit .AddWeb-content .bt-AddWeb {
  width: 155px;
  text-align: center;
  background-color: #2aabcb;
  padding: 10px 18px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
}

.content-TimeLimit .Filter-limit .bt-AddWeb,
.content-TimeLimit .AddWeb-content .bt-AddWeb {
  margin-top: 25%;
}

.content-TimeLimit .AddWeb-content {
  display: none;
  position: relative;
}

.content-TimeLimit .AddWeb-content .title {
  margin: 30px 0 15px 3px;
  font-size: 18px;
  font-weight: 500;
}

.content-TimeLimit .AddWeb-content .textAddWeb {
  margin: auto;
}

.content-TimeLimit .AddWeb-content .textAddWeb input {
  display: block;
  border: 1.4px solid #dedede;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  color: #36383b;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 17px;
  -webkit-appearance: none;
}

.content-TimeLimit .AddWeb-content .textAddWeb input:focus {
  border-color: #2aabcb;
}

.content-TimeLimit .AddWeb-content .textAddWeb .label-noti {
  margin: 5px 0;
}

.content-TimeLimit .text-filter,
.content-TimeLimit .text-Web {
  font-size: 18px;
  font-weight: 500;
}

.content-TimeLimit .text-filter img,
.content-TimeLimit .text-Web img {
  width: 22px;
  cursor: pointer;
}

@media all and (min-width: 1200px) and (max-width: 1220px) {
  .content-TimeLimit .switch-div .btn {
    margin-left: 35px !important;
    padding: 15px;
  }
}

@media all and (min-width: 540px) {
  .content-TimeLimit .Time-box {
    width: 950px;
    background-color: #f8fafd;
    top: 15px;
  }
  .content-TimeLimit .Time-noti .noti-title .btn {
    text-align: right;
    right: 10px;
  }
  .content-TimeLimit .btn {
    text-align: right;
  }
}

@media all and (min-width: 830px) {
  .content-TimeLimit .Time-box {
    width: 950px;
    background-color: #f8fafd;
  }
  .content-TimeLimit .Time-noti .noti-title .btn {
    text-align: right;
    right: 10px;
  }
  .content-TimeLimit .btn {
    text-align: right;
  }
}

@media all and (min-width: 540px) and (max-width: 1220px) {
  .content-TimeLimit .Time-limit {
    width: 100%;
  }
  .content-TimeLimit .Time-box {
    width: 950px !important;
    background-color: #f8fafd;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 350px !important;
  }
  .content-TimeLimit .Time-noti .noti-title .btn {
    text-align: right;
    right: 10px;
  }
  .content-TimeLimit .btn {
    text-align: right;
  }
}

@media all and (max-width: 540px) {
  .content-TimeLimit .Time-box {
    width: 950px !important;
    background-color: #f8fafd;
    top: 60px !important;
    left: 0;
    right: 0;
    padding-bottom: 350px !important;
  }
  .content-TimeLimit .Time-noti .noti-title .btn {
    text-align: right;
    right: 10px;
  }
}

.content-TimeLimit .Time-box {
  padding: 0 10px 0 5px;
}

.content-TimeLimit .Time-box .Time-setting {
  background: #fff;
  padding: 22px 20px 5px 15px;
}

.content-TimeLimit .Time-box .Time-setting .setting-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 0px 0 15px 0;
}

.content-TimeLimit .Time-box .Time-setting .setting-title .title {
  font-size: 20px;
  font-weight: bolder;
}

.content-TimeLimit .Time-box .Time-setting .des {
  font-size: 20px;
  font-weight: 600;
  margin: 25px auto;
}

.content-TimeLimit .Time-box .Time-setting .text {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.content-TimeLimit .Time-box .Time-setting .setting-title-child {
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
}

.content-TimeLimit .Time-box .Time-setting .setting-title-child .title {
  padding: 0;
  height: 20px;
}

@media all and (max-width: 830px) {
  .content-TimeLimit .Time-box .Time-setting .setting-title-child {
    margin: 0 auto 15px auto;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    height: 26px;
  }
  .content-TimeLimit .Time-box .Time-setting .setting-title-child .title {
    padding: 0;
    height: 20px;
  }
}

.content-TimeLimit .Time-box .Time-noti {
  background: #fff;
  padding: 0 20px 100px 15px;
}

.content-TimeLimit .Time-box .Time-noti .noti-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.content-TimeLimit .Time-box .Time-noti .title {
  font-size: 20px;
  padding: 0;
}

.content-TimeLimit .Time-box .Time-noti .text {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0 30px 0;
}

@media all and (min-width: 746px) {
  .Time-box {
    margin: 0 auto;
    max-width: 720px;
    margin: 0 0 0 auto;
  }
  .Time-box .Time-setting {
    max-width: 720px;
    padding: 22px 20px 5px 15px;
  }
  .Time-box .Time-setting .btn {
    text-align: right;
  }
  .content-TimeLimit {
    max-width: 720px;
    margin: 0 0 0 auto;
  }
}

@media all and (min-width: 1200px) {
  .content-TimeLimit {
    overflow: scroll;
    height: 900px;
    margin: 0 auto;
    max-width: 82%;
    padding: 0;
    margin: 0 0 0 auto;
  }
  .content-TimeLimit .Filter-limit {
    width: 66%;
  }
  .content-TimeLimit .Time-box {
    margin: 0 0 0 auto;
    width: 33% !important;
    height: 543px;
  }
  .content-TimeLimit .Time-box .Time-box-arrow {
    display: none;
  }
  .content-TimeLimit .Time-box .Time-setting {
    background: #fff;
    padding: 22px 20px 5px 15px;
  }
  .content-TimeLimit .Time-box .Time-setting .setting-title {
    font-size: 20px;
    font-weight: bolder;
  }
  .content-TimeLimit .Time-box .Time-setting .setting-title .title {
    font-size: 18px;
    font-weight: bolder;
  }
  .content-TimeLimit .Time-box .Time-setting .des {
    font-size: 16px;
    font-weight: 600;
    margin: 25px auto;
  }
  .content-TimeLimit .Time-box .Time-setting .text {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0 25px 0;
  }
  .content-TimeLimit .Time-box .Time-setting .setting-title-child {
    margin: 0 0 20px 0;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    height: 28px;
  }
  .content-TimeLimit .Time-box .Time-setting .setting-title-child .title {
    padding: 0;
    height: 50px;
  }
  .content-TimeLimit .Time-box .Time-setting .setting-title-child .btn {
    padding: 0;
    margin: 5px 0 0 0;
    height: 20px;
    text-align: right;
  }
  .content-TimeLimit .Time-box .Time-noti {
    background: #fff;
    margin-top: 5px;
    padding: 1px 20px 5px 15px;
  }
  .content-TimeLimit .Time-box .Time-noti .noti-title {
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 0 15px 0px;
    position: relative;
    padding: 0;
  }
  .content-TimeLimit .Time-box .Time-noti .title {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  .content-TimeLimit .Time-box .Time-noti .btn {
    text-align: right;
    padding: 0;
    position: absolute;
    bottom: -12%;
    right: 0;
  }
  .content-TimeLimit .Time-box .Time-noti .text {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0 30px 0;
  }
}

@media all and (min-width: 540px) {
  .Time-box {
    margin: 3rem auto;
  }
  .content-TimeLimit {
    overflow: scroll;
    height: 800px;
    margin: 0 auto;
    padding: 0;
  }
  .Time-noti .noti-title {
    margin: 20px auto;
  }
  .Time-noti .noti-title .btn {
    text-align: right;
    padding: 0;
    position: absolute;
    bottom: -12%;
    right: 10px;
  }
  .btn {
    text-align: right;
  }
}

@media all and (max-width: 540px) {
  .content-TimeLimit {
    overflow: scroll;
    height: 820px;
    margin: 0 auto;
    padding: 0;
  }
  .btn {
    text-align: right !important;
  }
  .Time-noti .noti-title {
    margin: 20px auto;
  }
  .Time-noti .noti-title .btn {
    padding: 0;
    position: absolute;
    bottom: -12%;
    text-align: center !important;
    right: 3px !important;
  }
}

@media all and (max-height: 500px) and (min-width: 1200px) {
  .content-TimeLimit {
    overflow: scroll;
    height: 304px;
    padding: 0;
    margin: 0 0 0 auto;
  }
}

@media all and (min-height: 500px) and (min-width: 1220px) {
  .content-TimeLimit {
    overflow: scroll;
    height: 442px;
    margin: 0 0 0 auto;
    padding: 0;
  }
}

@media all and (min-height: 580px) and (min-width: 1220px) {
  .content-TimeLimit {
    height: 530px;
  }
}

@media all and (min-height: 650px) and (min-width: 1220px) {
  .content-TimeLimit {
    height: 592px;
  }
}

@media all and (min-height: 730px) and (min-width: 1220px) {
  .content-TimeLimit {
    height: 650px;
  }
}

@media all and (min-height: 768px) and (min-width: 1220px) {
  .content-TimeLimit {
    height: 795px;
  }
}

@media all and (max-height: 500px) and (max-width: 1220px) {
  .content-TimeLimit {
    overflow: scroll;
    height: 304px;
    margin: 0 auto;
    padding: 0;
  }
}

@media all and (min-height: 500px) and (max-width: 1220px) {
  .content-TimeLimit {
    overflow: scroll;
    height: 461px;
    margin: 0 auto;
    padding: 0;
  }
}

@media all and (min-height: 580px) and (max-width: 1220px) {
  .content-TimeLimit {
    height: 495px;
  }
}

@media all and (min-height: 650px) and (max-width: 1220px) {
  .content-TimeLimit {
    height: 558px;
  }
}

@media all and (min-height: 730px) and (max-width: 1220px) {
  .content-TimeLimit {
    height: 629px;
  }
}

@media all and (min-height: 768px) and (max-width: 1220px) {
  .content-TimeLimit {
    height: 633px;
  }
}
/*# sourceMappingURL=dashboard.css.map */